.rcontent {
    margin-top:40px;
}

.skill { 
    font-size: 18px;
    background: #14681e
}

/* content and header box color overrides */

.box .box-r{
    background:#ce564f;
    background: -webkit-linear-gradient(left, #ce564f, #e7827c, #ce564f);
    background: -moz-linear-gradient(left, #ce564f, #e7827c, #ce564f);
    background: -ms-linear-gradient(left, #ce564f, #e7827c, #ce564f);
    background: -o-linear-gradient(left, #ce564f, #e7827c, #ce564f);
    background: linear-gradient(left, #ce564f, #e7827c, #ce564f);
}

.box .box-g{
    background:#3ea04a;
    background: -webkit-linear-gradient(left, #3ea04a, #70d07c, #3ea04a);
    background: -moz-linear-gradient(left, #3ea04a, #70d07c, #3ea04a);
    background: -ms-linear-gradient(left, #3ea04a, #70d07c, #3ea04a);
    background: -o-linear-gradient(left, #3ea04a, #70d07c, #3ea04a);
    background: linear-gradient(left, #3ea04a, #70d07c, #3ea04a);
}

.box .box-b{
    background:#31777e;
    background: -webkit-linear-gradient(left, #31777e, #68b7be, #31777e);
    background: -moz-linear-gradient(left, #31777e, #68b7be, #31777e);
    background: -ms-linear-gradient(left, #31777e, #68b7be, #31777e);
    background: -o-linear-gradient(left, #31777e, #68b7be, #31777e);
    background: linear-gradient(left, #31777e, #68b7be, #31777e);
}

.box .box-y{
    background:#ce8b4f;
    background: -webkit-linear-gradient(left, #ce8b4f, #e7ae7c, #ce8b4f);
    background: -moz-linear-gradient(left, #ce8b4f, #e7ae7c, #ce8b4f);
    background: -ms-linear-gradient(left, #ce8b4f, #e7ae7c, #ce8b4f);
    background: -o-linear-gradient(left, #ce8b4f, #e7ae7c, #ce8b4f);
    background: linear-gradient(left, #ce8b4f, #e7ae7c, #ce8b4f);
}

.content-r{
    background:#ce564f;
}

.content-g {
    background: #3ea04a;
}

.content-b{
    background:#31777e;
}

.content-y {
    background: #ce8b4f;
}

/* Footer overrides */

footer ul li {
    list-style-type: none !important;
    background-image: url("../../lib/img/list-r.png");
    background-repeat: no-repeat;
    background-position: 2px 7px;
    background-size: 13px 13px;
    padding: 4px 0px 4px 21px;
    line-height: 20px;
}

.widget ul li {
    list-style-type: none !important;
    background-image: url("../../lib/img/list-r.png");
    background-repeat: no-repeat;
    background-position: 2px 7px;
    background-size: 13px 13px;
    padding: 4px 0px 4px 21px;
    line-height: 20px;
}

.blog .entry h2 a, .blog .entry h2 a:visited, .blog .entry h2 a:hover {
    text-decoration: none;
        -moz-text-blink: none;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
        -moz-text-decoration-style: solid;
    color: #ce564f;
    /* rgb(220, 220, 220); */
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #222;
    /* rgb(245, 245, 245); */
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* social contacts */

.social { 
    list-style:none; 
    min-height: 120px;
    padding: 19px 0px 19px 40px;
    margin-bottom: 20px;
/*  background-color: #222; */
/*  rgb(245, 245, 245); */
/*  border: 1px solid rgb(227, 227, 227); */
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;

}

.social li { 
    display:inline; 
    float:left; 
}

.social li a {
    border: none; 
    display:block;
    width:114px;
    height:111px;
    position:relative; 
}

.social li a strong { 
    position:absolute; left:20px; top:-1px;
    text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75);
    background-color:rgba(0, 0, 0, 0.7);
    border-radius:3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

li.twitter {
    background-image: url("../img/icons/socialmediaIcons_TwitterBoard.png");
}

li.linkedin {
    background-image: url("../img/icons/socialmediaIcons_LinkedInBoard.png");
}

li.facebook {
    background-image: url("../img/icons/socialmediaIcons_FacebookBoard.png");
}

li.google-plus {
    background-image: url("../img/icons/socialmediaIcons_GPlusBoard.png");
}

li.vfx-connection {
    background-image: url("../img/icons/socialmediaIcons_TwitterBoard.png");
}

li.aim {
    background-image: url("../img/icons/socialmediaIcons_AIMBoard.png");
}

li.yim {
    background-image: url("../img/icons/socialmediaIcons_YahooBoard.png");
}

li.skype {
    background-image: url("../img/icons/socialmediaIcons_SkypeBoard.png");
}

li.cell {
    background-image: url("../img/icons/socialmediaIcons_PhoneBoard.png");
    margin: 0 0 0 -60px;
}

li.home {
    background-image: url("../img/icons/socialmediaIcons_HomeBoard.png");
}

li.delicious { 
    background-image:url("../img/icons/delicious.png"); 
}

li.digg { 
    background-image:url("../img/icons/digg.png"); 
}

.social:hover li { 
    opacity:0.2; 
}
	  
.social li { 
    transition-property: opacity; transition-duration: 500ms; 
}
.social li a strong { 
    opacity:0;
    transition-property: opacity, top;
    transition-duration: 300ms;
}

.social li:hover { 
    opacity:1; 
}

.social li:hover a strong { 
    opacity:1; top:-10px; 
}

/* flexslider overrides */

.flexslider .slides img {width: 240px; margin-left: 38%; float: none; display: block;}

/* blog styles */

.blog .meta{
border-top:1px solid #444;
border-bottom:1px solid #444;
margin:8px 0px;
padding:5px 8px;
color:#555;
text-transform:uppercase;
font-size:12px;
background:#222 url('../img/header-back.png') repeat;
}

#qr_code {
    padding: 10px; 
}

#dm_code {
    padding: 10px;
}

.accordionButton {	
/*	width: 800px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
*/	
  background: #003366;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	}

/* Make sure the icons are not cut */
/*a[href^="http:"].icon, a[href^="mailto:"].icon, a[href^="http:"]:visited.icon, 
a[href$=".pdf"].icon, a[href$=".doc"].icon, a[href$=".xls"].icon, a[href$=".rss"].icon, 
a[href$=".rdf"].icon, a[href$=".mp4"].icon, a[href^="aim:"].icon { padding:2px 24px 2px 0; margin:-2px 0; background-repeat: no-repeat; background-position: right center; }

/* External links
a[href^="http:"]          { background-image: url(../img/icons/external.png); padding-right: 14px; } 
a[href^="mailto:"]        { background-image: url(../img/icons/email.png); }
a[href^="http:"]:visited  { background-image: url(../img/icons/visited.png); } 

/* Files 
a[href$=".pdf"]   { background-image: url(../img/icons/pdf.png); }  
a[href$=".mp3"]   { background-image: url(../img/icons/audio.png); }  
a[href$=".mp4"]   { background-image: url(../img/icons/video.gif); }  
a[href$=".mov"]   { background-image: url(../img/icons/video.gif); }  
a[href$=".doc"]   { background-image: url(../img/icons/doc.png); }  
a[href$=".xls"]   { background-image: url(../img/icons/xls.png); }  
 
/* Misc 
a[href$=".rss"], 
a[href$=".rdf"]   { background-image: url(../img/icons/feed.png); }
a[href^="aim:"]   { background-image: url(../img/icons/im.png); }
a[href^="http://deltadave.net"] { background:none; padding:0; margin:0; }
*/
