footer ul li {
    list-style-type: none !important;
    background-image: url("../img/list-r.png");
    background-repeat: no-repeat;
    background-position: 2px 7px;
    background-size: 13px 13px;
    padding: 4px 0px 4px 21px;
    line-height: 20px;
}
/* contact */
.contact .social{
margin-top:5px;
}

.contact .social a{
color:#fff;
font-size:17px;
text-align:center;
padding:8px 7px 0px 7px;
margin:0px 2px;
box-shadow:inset 0px 0px 1px #000;
text-shadow:0px 0px 1px #000;
}

.contact .social a.facebook{
background:#2e7dc6;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.contact .social a.twitter{
background:#92d6e1;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.contact .social a.linkedin{
background:#3995bc;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.contact .social a.google-plus{
background:#c03a29;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.contact .social a:hover{
background:#222;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

#slideshow{
	background-color:#252525;
	border:1px solid #555;
	height:340px;
	margin:50px auto 0;
	position:relative;
	width:240px;
	
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slideshow ul{
	height:320px;
	left:10px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:220px;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url('img/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}


